
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #FC9483);
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    color: white;
    background: linear-gradient(#FC4C4E);

}

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 15px;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: white;

    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px 20px;
    color: white;
    animation: fadeIn 1.5s ease-in;
}

.hero-buttons button {
    margin: 10px;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.feature {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 25%;

    text-align: center;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.product {
    background: white;
    border-radius: 20px;

    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.4s;
    animation: fadeIn 1s ease-in;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
}

.card-content {

    padding: 15px;
    text-align: center;
}

/* BUTTON */
button {
    background: linear-gradient(45deg, #FC4C4E, hotpink);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* TIKTOK BUTTON */

.tiktok-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 15px;
    border-radius: 50%;
}

/* FOOTER */
footer {
    text-align: center;
    background:#FC4C4E;
    color: white;
   padding: 10px;

}

/* ANIMATION */
@keyframes fadeIn {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1; transform: translateY(0);}
}

/* CONTACT FORM */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.contact-form {
    background: white;
    padding: 25px;
    border-radius: 20px;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}


.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact-form button {
    width: 100%;
    margin-top: 10px;
}

.luxury-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /*optional spacing*/
}
